@model MvcBlog.Models.Blog
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Blog</h2>
<form method="post" action="~/Home/DeleteSubmit/@Model.BlogId">
    <h4>Are you sure you want to delete this Blog and all it's Comments</h4>
    <p><strong>@Model.BlogTitle</strong></p>
    <input type="submit" value="Yes" class="btn btn-danger"/> 
    <a href="/" class="btn btn-success">No</a> 
</form>

